// BUTTON 

.card-evenement {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    p {
        padding: 16px;
        background-color: rgba(15, 195, 70, 0.6);
        border-radius: 50px;
        color: #2D3F5D;
        font-weight: bold;
        margin: 10px;
        box-shadow: 4px 4px 6px #aaa;

        &:hover {
            color: whitesmoke;
            background-color: #009765;
            margin-left: 15px;
        }
    }

    i {
        margin-left: 22px;
        font-size: 24px;
    }
}

// CARDS ARTICLES

.card {
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;

    .cards {
        padding: 22px;
        width: 100%;
        border: 1px solid #E5E5E5;
        border-radius: 16px;
        margin-bottom: 30px;
        box-shadow: 4px 4px 6px #aaa;
        &:hover {
            border: 1px solid #009765;
        }
    }

    .img-article {
        
        width: 50%;
        margin-left: 27%;
        margin-top: 5%;
        margin-bottom: 3%;
        border-radius: 25px;
        box-shadow: 4px 4px 6px #aaa;
        position: relative;
        background: #fff;
        max-width: 500px;
        max-height: 500px;
    }

    .flex-name-user {
        display: flex;
        

        .margin-right-5 {
            margin-right: 5px;
            margin-top: 5px;
        }

        .avatar-article {
            width: 36px;
            height: 36px;
            margin-right: 16px;
            bottom: 4px;
        }

        .font-user {
            font-size: 18px;
            font-weight: 900;
            color: #2D3F5D;
        }
    }
}




.edit-article-icon {
    font-size: 26px;
    color: #2D3F5D;
    position: relative;
    padding: 10px;
    margin-left: 10px;
    margin-top: 50px;
    
   
}

.delete-article-icon {
    font-size: 26px;
    color: #2D3F5D;
    position: relative;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
}

.margin-top-16 {
    margin-top: 16px;
}

.bold-title {
    font-weight: bold;
    color: #333;
    margin-left: 44%;
}

.flex-like {
    display: flex;
}

.like {
    text-align: right;
    margin-top: 16px;
    color: #2D3F5D;
}

.font-size-22 {
    font-size: 22px;
}

.margin-right-comment {
    margin-right: 8px;
    margin-top: 10px;
    font-size: 20px;

    &:hover {
        color: #001a8d;
    }
}

.like-hover:hover {
    color:#001a8d;
}

.bloc-comment {
    display: none;
}

.comment-hover:hover .bloc-comment {
    display: inline;
}

// CARD PROFILE

.card-profile {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    margin-bottom: 14%;
}

.user-profile {
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
    margin-top: 1%;
    width: 300px;
    margin-top: 10px;
        border-radius: 16px;
        margin-bottom: 30px;
        box-shadow: 6px 6px 6px #aaa;
        &:hover {
            border: 1px solid #009765;
        }

   .user-profile-img {
        width: 100px;
        height: auto;
        margin: 16px;
        margin-left: 35%;
        
    }
    

    .img-fontawesome-profil {
        background-color: rgba(17, 94, 39, 0.6);
        color: black;
        text-align: center;
        padding: 12px;
        border-radius: 46px;
        margin: 10px;
        width: fit-content;
        margin-left: 16%;
        margin-right: 12%;
        cursor: pointer;
        
    }

    .margin-right-off {
        margin-right: 26px;
    }
}

.off-and-basket {
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 22px;
    margin-left: 15%;
}
.user-profile1 {
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
    margin-top: 1%;
    width: 300px;
    margin-top: 80px;
        border-radius: 16px;
        margin-bottom: 30px;
        box-shadow: 6px 6px 6px #aaa;
        &:hover {
            border: 1px solid #009765;
        }

   .user-profile-img {
        width: 100px;
        height: auto;
        margin: 16px;
        margin-left: 35%;
        
    }
    .img-fontawesome-profil {
        background-color: rgba(17, 94, 39, 0.6);
        color: black;
        text-align: center;
        padding: 12px;
        border-radius: 46px;
        margin: 10px;
        width: fit-content;
        margin-left: 16%;
        margin-right: 12%;
        cursor: pointer;
        
    }
}

.user-profile-img1{
    width: 100px;
    height: auto;
    margin: 16px;
    margin-left: 35%;

}

.info-user {
    
    margin-top: 1px;
    margin-right: 16%;
    

    .card-info-user {
        border: 1px solid #ECECEC;
        padding: 10px;
        text-align: center;
        font-weight: 700;
        color: #A8A8A8;
        margin-top: 12%;
        margin-bottom: 16px;
        margin-left: 20%;
    }

    #description-profil {
        border: 1px solid #ECECEC;
        width: 400px;
        padding: 10px;
        height: 170px;
        font-style: italic;
        color: #A8A8A8;
        margin-bottom: 16px;
    }
}
.info-user2 {
    
    margin-top: 1px;
    margin-right: 16%;
    

    .card-info-user2 {
        border: 1px solid #ECECEC;
        padding: 10px;
        text-align: center;
        font-weight: 700;
        color: #A8A8A8;
        margin-top: 8%;
        margin-bottom: 16px;
        margin-right: 18%;
        margin-left: 9%;
    }
}

// CARD LOGIN

.card-login {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 300px;

    form {
        border: 1px solid #A8A8A8;
        border-radius: 100px;
        background-color: rgba(17 94 39 / 60%);
        padding: 5px 20px;
        left: 327px;
        box-shadow: 4px 4px 6px #aaa;

        img {
            width: 150px;
            margin-left: 100px;
        }

        .form-email-password {
            width: 350px;
            margin-bottom: 20px;
            padding: 20px;
            border: none;
            border-bottom: 5px solid #A8A8A8;
            background-color: rgba(236, 236, 236, 0.6);
            outline: none;   
            border-radius: 100px;  
        }

        .button-form {
            text-align: center;
            margin-top: 14px;
        }
    }
}

.button{
  letter-spacing: 0;
  display: inline-block;
  padding: .75rem 1.25rem;
  border: solid transparent;
  border-radius: 10rem;
  color: rgb(73, 13, 13);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  cursor: pointer;
  background-color: lightgrey;
    }
    
    .button:hover,
    .button:active {
      letter-spacing: 5px;
    }
    
    .button:after,
    .button:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#fff, 0);
      bottom: 0px;
      content: " ";
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
      background-color: #d71313;
    }
    
    .button:hover:after,
    .button:hover:before {
      backface-visibility: hidden;
      border-color: #fff;
      transition: width 650ms ease-in-out;
      width: 70%;
      background-color: #000000;
    }
    
    .button:hover:before {
      bottom: auto;
      top: 0;
      width: 70%;
    }
    .button:hover {
        color:white;
        background-color: #009765;
       
    }


.button-form-text{
    padding: 1em;
}



.card-display-article {
    margin: 4% 30%;
    padding: 30px 30px;
    margin-bottom: 10%;

    form {
        border: 1px solid #A8A8A8;
        border-radius: 22px;
        background-color: rgba(17 94 39 / 60%);
        padding: 17px 23px;
        height: 400px;
        box-shadow: 4px 4px 6px #aaa;
        
    }

    .button-form {
        margin-top: 16px;
    }
   
}

.form-title-content {
    text-align: left;
    font-style: italic;
    padding: 10px;
    margin: 8px;
    width: 60%;
    border: none;
    border-radius: 8pt;
    box-shadow: 0 0 0 1.5pt grey;
    outline: none;
    transition: .1s;
    margin-top: 30px;
}

#content {
    height: 145px;
    width: 67%;
    margin: 24px 17px;
    border: none;
    border-radius: 8pt;
    box-shadow: 0 0 0 1.5pt grey;
    outline: none;
    transition: .1s;
    padding: 14px;
}

.add-image {
    font-size: 36px;
    margin-bottom: 16px;
    text-align: center;
}

#add {
    &:hover {
        color: #001a8d;
    }
}

.display-none {
    text-align: center;
    margin-bottom: 16px;
}

// CARD UPDATE 

.img-article-update {
    width: 150px;
}

.margin-right-off {
   padding: 10px; 
   position: relative;
   cursor: pointer;

}

.margin-right-off1 {
    padding: 10px; 
    position: relative;
    cursor: pointer;
    margin-left: 45%;
    margin-bottom: 5px;
 }

#image {

    margin-left: 35px;
}
.inputImageButton{
    width:50%;
}