.welcome-user{

    margin-top: 20px;
    font-size: 18px;
    font-weight: 900;
    color: #2D3F5D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    padding-top: 10px;
    

}