.welcome-user {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 900;
  color: #2D3F5D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  padding-top: 10px;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #E5E5E5;
  position: relative;
}
.navbar .logo {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -101px;
  margin-left: 24px;
}

.list-navbar {
  display: inline;
  margin-right: 36px;
  font-size: 20px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 16px;
  top: -42px;
}

.avatar {
  width: 33px;
  height: 33px;
  position: relative;
}
.avatar:hover {
  border: 2.5px solid #009765;
  border-radius: 60%;
}

.dropdown {
  display: inline-block;
}

.list-login-signup {
  border: 1px solid black;
  background-color: rgb(228, 228, 228);
  border-radius: 16px;
  color: #2D3E5D;
  font-weight: bold;
  position: absolute;
  right: 137px;
  top: 35px;
  display: none;
  outline: none;
  padding: 0px 6px;
}

.dropdown:hover .list-login-signup {
  display: inline;
}

.hover-login {
  letter-spacing: 0;
  margin-left: 17px;
}

.hover-login:hover,
.hover-login:active {
  letter-spacing: 5px;
}

.hover-login:after,
.hover-login:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.hover-login:hover:after,
.hover-login:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.hover-login:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.hover-login:hover {
  color: #009765;
}

.card-evenement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.card-evenement p {
  padding: 16px;
  background-color: rgba(15, 195, 70, 0.6);
  border-radius: 50px;
  color: #2D3F5D;
  font-weight: bold;
  margin-top: 50px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  margin-right: 16px;
  margin-left: 8px;
}
.card-evenement p:hover {
  color: whitesmoke;
  background-color: #009765;
  margin-left: 15px;
}
.card-evenement i {
  margin-left: 22px;
  font-size: 24px;
}

.card {
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card .cards {
  padding: 22px;
  width: 100%;
  border: 1px solid #E5E5E5;
  border-radius: 16px;
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
}
.card .cards:hover {
  border: 1px solid #009765;
}
.card .img-article {
  width: 50%;
  margin-left: 27%;
  margin-top: 5%;
  margin-bottom: 3%;
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
  position: relative;
  background: #fff;
  max-width: 500px;
  max-height: 500px;
}
.card .flex-name-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card .flex-name-user .margin-right-5 {
  margin-right: 5px;
  margin-top: 5px;
}
.card .flex-name-user .avatar-article {
  width: 36px;
  height: 36px;
  margin-right: 16px;
  bottom: 4px;
}
.card .flex-name-user .font-user {
  font-size: 18px;
  font-weight: 900;
  color: #2D3F5D;
}

.edit-article-icon {
  font-size: 26px;
  color: #2D3F5D;
  position: relative;
  padding: 10px;
  margin-left: 10px;
  margin-top: 50px;
}

.delete-article-icon {
  font-size: 26px;
  color: #2D3F5D;
  position: relative;
  padding: 10px;
  margin-top: 50px;
  cursor: pointer;
}

.margin-top-16 {
  margin-top: 16px;
}

.bold-title {
  font-weight: bold;
  color: #333;
  margin-left: 44%;
}

.flex-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.like {
  text-align: right;
  margin-top: 16px;
  color: #2D3F5D;
}

.font-size-22 {
  font-size: 22px;
}

.margin-right-comment {
  margin-right: 8px;
  margin-top: 10px;
  font-size: 20px;
}
.margin-right-comment:hover {
  color: #001a8d;
}

.like-hover:hover {
  color: #001a8d;
}

.bloc-comment {
  display: none;
}

.comment-hover:hover .bloc-comment {
  display: inline;
}

.card-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  width: 100%;
  margin-bottom: 14%;
}

.user-profile {
  background-color: #F9F9F9;
  border: 1px solid #E5E5E5;
  margin-top: 1%;
  width: 300px;
  margin-top: 10px;
  border-radius: 16px;
  margin-bottom: 30px;
  -webkit-box-shadow: 6px 6px 6px #aaa;
          box-shadow: 6px 6px 6px #aaa;
}
.user-profile:hover {
  border: 1px solid #009765;
}
.user-profile .user-profile-img {
  width: 100px;
  height: auto;
  margin: 16px;
  margin-left: 35%;
}
.user-profile .img-fontawesome-profil {
  background-color: rgba(17, 94, 39, 0.6);
  color: black;
  text-align: center;
  padding: 12px;
  border-radius: 46px;
  margin: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 16%;
  margin-right: 12%;
  cursor: pointer;
}
.user-profile .margin-right-off {
  margin-right: 26px;
}

.off-and-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  font-size: 22px;
  margin-left: 15%;
}

.user-profile1 {
  background-color: #F9F9F9;
  border: 1px solid #E5E5E5;
  margin-top: 1%;
  width: 300px;
  margin-top: 80px;
  border-radius: 16px;
  margin-bottom: 30px;
  -webkit-box-shadow: 6px 6px 6px #aaa;
          box-shadow: 6px 6px 6px #aaa;
}
.user-profile1:hover {
  border: 1px solid #009765;
}
.user-profile1 .user-profile-img {
  width: 100px;
  height: auto;
  margin: 16px;
  margin-left: 35%;
}
.user-profile1 .img-fontawesome-profil {
  background-color: rgba(17, 94, 39, 0.6);
  color: black;
  text-align: center;
  padding: 12px;
  border-radius: 46px;
  margin: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 16%;
  margin-right: 12%;
  cursor: pointer;
}

.user-profile-img1 {
  width: 100px;
  height: auto;
  margin: 16px;
  margin-left: 35%;
}

.info-user {
  margin-top: 1px;
  margin-right: 16%;
}
.info-user .card-info-user {
  border: 1px solid #ECECEC;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #A8A8A8;
  margin-top: 12%;
  margin-bottom: 16px;
  margin-left: 20%;
}
.info-user #description-profil {
  border: 1px solid #ECECEC;
  width: 400px;
  padding: 10px;
  height: 170px;
  font-style: italic;
  color: #A8A8A8;
  margin-bottom: 16px;
}

.info-user2 {
  margin-top: 1px;
  margin-right: 16%;
}
.info-user2 .card-info-user2 {
  border: 1px solid #ECECEC;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #A8A8A8;
  margin-top: 8%;
  margin-bottom: 16px;
  margin-right: 18%;
  margin-left: 9%;
}

.card-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
  margin-bottom: 300px;
}
.card-login form {
  border: 1px solid #A8A8A8;
  border-radius: 100px;
  background-color: rgba(17, 94, 39, 0.6);
  padding: 5px 20px;
  left: 327px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
}
.card-login form img {
  width: 150px;
  margin-left: 100px;
}
.card-login form .form-email-password {
  width: 350px;
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  border-bottom: 5px solid #A8A8A8;
  background-color: rgba(236, 236, 236, 0.6);
  outline: none;
  border-radius: 100px;
}
.card-login form .button-form {
  text-align: center;
  margin-top: 14px;
}

.button {
  letter-spacing: 0;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border: solid transparent;
  border-radius: 10rem;
  color: rgb(73, 13, 13);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  cursor: pointer;
  background-color: lightgrey;
}

.button:hover,
.button:active {
  letter-spacing: 5px;
}

.button:after,
.button:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
  background-color: #d71313;
}

.button:hover:after,
.button:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 650ms ease-in-out;
  transition: width 650ms ease-in-out;
  width: 70%;
  background-color: #000000;
}

.button:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

.button:hover {
  color: white;
  background-color: #009765;
  margin-right: 12px;
}

.button-form-text {
  padding: 1em;
}

.card-display-article {
  margin: 4% 30%;
  padding: 30px 30px;
  margin-bottom: 10%;
}
.card-display-article form {
  border: 1px solid #A8A8A8;
  border-radius: 22px;
  background-color: rgba(17, 94, 39, 0.6);
  padding: 17px 23px;
  height: 400px;
  -webkit-box-shadow: 4px 4px 6px #aaa;
          box-shadow: 4px 4px 6px #aaa;
}
.card-display-article .button-form {
  margin-top: 16px;
}

.form-title-content {
  text-align: left;
  font-style: italic;
  padding: 10px;
  margin: 8px;
  width: 60%;
  border: none;
  border-radius: 8pt;
  -webkit-box-shadow: 0 0 0 1.5pt grey;
          box-shadow: 0 0 0 1.5pt grey;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin-top: 30px;
}

#content {
  height: 145px;
  width: 67%;
  margin: 24px 17px;
  border: none;
  border-radius: 8pt;
  -webkit-box-shadow: 0 0 0 1.5pt grey;
          box-shadow: 0 0 0 1.5pt grey;
  outline: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  padding: 14px;
}

.add-image {
  font-size: 36px;
  margin-bottom: 16px;
  text-align: center;
}

#add:hover {
  color: #001a8d;
}

.display-none {
  text-align: center;
  margin-bottom: 16px;
}

.img-article-update {
  width: 150px;
}

.margin-right-off {
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.margin-right-off1 {
  padding: 10px;
  position: relative;
  cursor: pointer;
  margin-left: 45%;
  margin-bottom: 5px;
}

#image {
  margin-left: 35px;
}

.inputImageButton {
  width: 50%;
}

.p-form-login {
  display: none;
}

.p-signup {
  margin-bottom: 10px;
  font-size: 12px;
  margin-left: 16px;
  font-style: italic;
  color: #001a8d;
}

.valid-form-signup {
  color: #001a8d;
  font-weight: bold;
  font-size: 22px;
}

.comment-article {
  margin-top: 8px;
  margin-bottom: 27px;
  background-color: #F9F9F9;
  border-radius: 16px;
  width: 100%;
  padding: 26px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment-article .user-comment {
  color: #3A4B67;
  font-weight: bolder;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment-article li {
  margin-right: 6px;
  padding-bottom: 10px;
}

.input-comment {
  width: 90%;
  border: none;
  background-color: #F9F9F9;
  outline: none;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 8px;
}

.comment-plus {
  margin-left: 10px;
  padding-top: 15px;
}
.comment-plus:hover {
  color: #009765;
  cursor: pointer;
}

@media only screen and (max-width: 820px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .logo {
    margin-left: 38%;
  }
  .list {
    margin-bottom: 5%;
  }
  .list-navbar {
    position: relative;
    top: 61px;
    right: 73%;
  }
  .card-login {
    margin-top: 60px;
  }
  .hover-login {
    position: relative;
    top: 4px;
    margin-left: -10%;
    padding: 3px;
  }
  .avatar {
    position: relative;
    top: 60px;
    right: 900%;
  }
  .card-display-article {
    height: 400px;
    margin: 9% 15% 25%;
  }
  .card-display-article form {
    width: 500px;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .form-title-content {
    width: 70%;
  }
  #content {
    width: 86%;
  }
  .card-login form {
    margin-top: 5%;
  }
  .card .cards {
    margin-top: 28px;
  }
  .welcome-user {
    border-top: 2px solid #E5E5E5;
  }
}
@media only screen and (max-width: 500px) {
  .navbar .logo {
    margin-left: 26%;
  }
  .card-display-article {
    height: 380px;
    margin: 9% 0% 25%;
    padding: 25px 18px;
  }
  .card-display-article form {
    width: 340px;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .form-title-content {
    width: 70%;
  }
  #content {
    width: 86%;
  }
  .card-display-article form {
    width: 340px;
  }
  .card-login form {
    margin-top: 5%;
    max-width: 370px;
  }
  .card-login form .form-email-password {
    width: 330px;
    margin-top: 5%;
  }
  .list-navbar {
    position: relative;
    top: 61px;
    right: 0%;
  }
  .avatar {
    right: 340%;
  }
  .bold-title {
    margin-left: 33%;
  }
}
@media only screen and (max-width: 320px) {
  .avatar {
    right: 100%;
  }
  .navbar .logo {
    margin-left: 26%;
  }
}
.loader {
  background: -webkit-linear-gradient(#2D3F5D, #99E2D0, #009765, white);
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-animation: loader 1s ease-in-out 2s forwards;
          animation: loader 1s ease-in-out 2s forwards;
}

.loader__food img {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(0.35) rotate(0deg);
            transform: scale(0.35) rotate(0deg);
  }
  25% {
    -webkit-transform: scale(0.4) rotate(90deg);
            transform: scale(0.4) rotate(90deg);
  }
  50% {
    -webkit-transform: scale(0.5) rotate(180deg);
            transform: scale(0.5) rotate(180deg);
  }
  75% {
    -webkit-transform: scale(0.4) rotate(270deg);
            transform: scale(0.4) rotate(270deg);
  }
  100% {
    -webkit-transform: scale(0.35) rotate(360deg);
            transform: scale(0.35) rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: scale(0.35) rotate(0deg);
            transform: scale(0.35) rotate(0deg);
  }
  25% {
    -webkit-transform: scale(0.4) rotate(90deg);
            transform: scale(0.4) rotate(90deg);
  }
  50% {
    -webkit-transform: scale(0.5) rotate(180deg);
            transform: scale(0.5) rotate(180deg);
  }
  75% {
    -webkit-transform: scale(0.4) rotate(270deg);
            transform: scale(0.4) rotate(270deg);
  }
  100% {
    -webkit-transform: scale(0.35) rotate(360deg);
            transform: scale(0.35) rotate(360deg);
  }
}